#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.main {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}

h1 {
  margin: 10px;
  font-size: 40px;
}

ul li {
  font-size: 20px;
} 

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.search-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}


.character-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
    width: 100%;
    max-width: 1600px; 
}

.character-grid-item {
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    height: 400px; 
}

.character-image {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.character-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 2px; /* Reduce the gap */
}

.character-name {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 0; /* Remove margin */
}

.character-series {
    color: #a1a1a1;
    font-size: 0.8em;
    margin-top: 0; /* Remove top margin */
}

@media (max-width: 1600px) {
    .character-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1200px) {
    .character-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .character-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .character-grid {
        grid-template-columns: 1fr;
    }
}


.sort-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 16px;
}

.sort-controls select, 
.sort-controls button {
    padding: 8px 16px;
    border: 1px solid #ddd;
    background-color: #f8f9fa;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sort-controls select:hover, 
.sort-controls button:hover {
    background-color: #e9ecef;
}

.sort-controls select:focus, 
.sort-controls button:focus {
    outline: none;
    border-color: #007bff;
}